.idea
problems/FLI/IRF.npy
problems/FLI/system_noise.npy
problems/grid/
/plots/compositional_score_model_v_variance_preserving_cosine_likelihood_weighting/df_results_cosine_shift.csv
/plots/compositional_score_model_v_variance_preserving_cosine_likelihood_weighting/df_results_damping_factor_prior.csv
/plots/compositional_score_model_v_variance_preserving_cosine_likelihood_weighting/df_results_damping_factor_t.csv
/plots/compositional_score_model_v_variance_preserving_cosine_likelihood_weighting/df_results_damping_factor.csv
/plots/compositional_score_model_v_variance_preserving_cosine_likelihood_weighting/df_results_mini_batch.csv
/plots/compositional_score_model_v_variance_preserving_cosine_likelihood_weighting_factorized100/df_results_n_conditions.csv
/problems/gaussian_grid
/problems/ar1/
/problems/ar1_grid
/logs/
