.idea
problems/FLI/IRF.npy
problems/FLI/system_noise.npy
problems/grid/
/problems/gaussian_grid
/problems/ar1/
/problems/ar1_grid
.venv

# Ignore Python bytecode caches
diffusion_model/__pycache__/
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Ignore macOS metadata files
.DS_Store
._.DS_Store