.idea
problems/FLI/
problems/grid/
/problems/gaussian_grid
/problems/ar1/
/problems/ar1_grid
/checkpoints/
Vanilla FLI.ipynb
/vanilla_fli_fit.png
/vanilla_fli_median.png
/vanilla_fli_std.png
/time-series-contour-plot.ipynb
.venv

# Ignore Python bytecode caches
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Ignore macOS metadata files
.DS_Store
._.DS_Store